.pais {
  background-image: url("../../public/Hills.png");
  height: 778px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-left: 72px;
  padding-right: 80px;
}

.paisAlumine {
  display: flex;
  justify-content: space-between;
}

.paisAlumineSisu {
  margin-top: 230px;
}

.pealkirjad {
  font-weight: 800;
  letter-spacing: 0px;
  color: #0B0B0B;
}


.paisAlumineSisuH2 {
  font-size: 40px;
  margin: 0;
}

.paisAlumineSisuH1 {
  font-size: 74px;
  margin: 0;
}

.paisAlumineSisuH4 {
  font-size: 21px;
  margin-top: 14px;
  max-width: 477px;
}

.paisAlumineSisuNupp {
  background: #0B0B0B 0% 0% no-repeat padding-box;
  letter-spacing: 2.25px;
  color: #FFFFFF;
  font-weight: 800;
  padding: 21px 25px;
  font-size: 12.5px;
  border: none;
}

.paisAluminePilt {
  background-image: url("../../public/Image@2x.png");
  height: 915px;
  width: 915px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -300px;
  border-radius: 500px;
}

.teine {
  padding-left: 79px;
  margin-top: 120px;
}

.teine>.ylemine>h3.hall {
  color: #A2A2A2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: -3.33px;
}

.teine>.ylemine>h3 {
  font-size: 54px;
  font-weight: bold;
  line-height: 58.33px;
  letter-spacing: -1.08px;
  margin: 0;
  max-width: 500px;
}

.teine>.alumine {
  display: flex;
  gap: 34px;
  justify-content: space-between;
}

.teine>.alumine>.vasak {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 25px;
}

.teine>.alumine>.vasak>section {
  letter-spacing: 0px;
  font-style: #3D3D3D;
  font-size: 21px;
  line-height: 33px;
  margin-bottom: 150px;
}

.teine>.alumine>.vasak>.nooled {
  font-size: 50px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.nooled>.vasak,
.nooled>.parem {
  font-size: 72px;
  align-items: center;
}


.nooled>.lehekylgVasak {
  color: #9A9A9A;
  font-size: 20.83px;
  letter-spacing: 0px;
}

.nooled>.kaldkriips {
  margin: 0 10px;
}

.nooled>.kaldkriips,
.nooled>.lehekylgParem,
.nooled>.parem {
  color: #9A9A9A;
  font-size: 20.83px;
  letter-spacing: 0px;
}

.nooled>.kaldkriips,
.nooled>.lehekylgParem {
  font-size: 20.83px;
}

.nooled>.lehekylgParem {
  margin-top: 6px;
}

.teine>.alumine>.parem {
  display: flex;
  margin-top: 25px;
  margin-right: -150px;
}

.teine>.alumine>.parem>.pilt {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 406px;
  width: 309px;
  margin-left: 34px;
}

.teine>.alumine>.parem>.pilt1 {
  background-image: url("../../public/Layer@2x.png");
  box-shadow: 28px 29px 119px -16px rgba(0, 0, 0, 0.75);
}

.teine>.alumine>.parem>.pilt2 {
  background-image: url("../../public/Layer-1@2x.png");

}

.teine>.alumine>.parem>.pilt3 {
  background-image: url("../../public/Layer-2@2x.png");

}

.jalus {
  background: #F3F3F3 0% 0% no-repeat padding-box;
  height: 276px;
  margin-left: 56px;
  margin-right: 57px;
  padding-left: 56px;
  margin-bottom: 60px;
}

.jalus>nav {
  display: flex;
  justify-content: space-between;
  padding-top: 56.31px;
  padding-right: 47.3px;
  align-items: center;
}

.logo-pilt2 {
  height: 53px;
}

.logo-tekst2 {
  font-size: 27px;
  font-weight: 800;
  line-height: 35px;
  color: #0B0B0B;
  display: flex;
  flex-direction: column;
}

.alumineRida {
  padding-top: 45px;
}
.alumine>.tekst>h5 {
  text-align: left;
  background-color: black;
  display: inline;
  font-size: 22.37px;
  margin: 3px;
  color: #FFFFFF;
}

.alumine>.tekst>h6 {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 32.69px;
  margin: 3px;
  height: 30px;
  display: inline-block;
  
}

.alumine>.keskmine>section {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 16.67px;
  color: #010101;
  display: flex;
  justify-content: center;
  margin-top: -25px;
}